#title-div {
	font-family: 'Permanent Marker', cursive;
	border: 2px solid black;
	background-color: #252C3B;
	background-image: linear-gradient(to right, #304259, #6E90BB, #252C3B);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

#intro-div {
	border: 2px hidden black;
	background-color: grey;
	background-image: linear-gradient(to bottom, #304259, #6E90BB);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#blog-div {

	height: 500px;
	flex-grow: 1;
	overflow: auto;
	border: 2px solid black;
	background-color: cb0bdff;
	background-image: linear-gradient(to bottom, #304259, #6E90BB);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#project-ideas-div {
	height: 500px;
	flex-grow: 1;
	overflow: auto;
	border: 2px solid black;
	background-color: cb0bdff;
	background-image: linear-gradient(to bottom, #304259, #6E90BB);
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#javascript-work {
	border: 2px solid black;
	background-color: cb0bdff;
	background-image: linear-gradient(to bottom, #304259, #6E90BB);
	overflow: auto;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	display: flex;
	border: none;
}

.options {

	border: 1px solid white;
	background-color: transparent;
	text-align: center;
	display: table-cell;
	width: 25%;
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;

}

.menu-container{

	border:1px solid white;
	display: table-row;
	width: 100%;

}

#title-div {

	color: 111100;
	background-image: linear-gradient(to bottom, #304259, #6E90BB);
	text-align: left;
	border: none;
	top: 0;
	left: 0;
	width: 100%;
	transition: box-shadow;
	box-sizing: border-box;


}

#title {
	background: -webkit-linear-gradient(#D6B57A, #C1D1D4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: arial, serif;
	text-align: left:
}

#prac-canvas {
	width: 500px;
	height: 500px;
	background-color: white;
	align: center;


}

#dot-game {
	width: 500px;
	height: 500px;
	background-color: white;
	align: center;


}

#canvas-div {
	width: 100%;
	text-align: center;
	border: none;

}

#dot-canvas-div {
	width: 100%;
	text-align: center;
	border: none;

}


border: none text-align: center;
}

body {
	background-color: #252C3B;
	font-family: arial, serif;
}

head {

	width: 100%;
}

h1 {
	font-family: arial, serif;
	color: #D6B57A;
}

h2 {

	color: #D6B57A;
	text-align: center;
	text-decoration: underline;
	font-family: arial, serif;
}

h3 {
	color: b3948ff;
	text-align: center;
	font-family: arial, serif;
}

p {
	color: black;
	font-family: arial, serif;

}

div {

	border: 2px solid black;
}


/*
/* CSS HEX */
252C3B 304259 6E90BB C1D1D4 D6B57A */